---
export const prerender = false

import { actions } from 'astro:actions'
import Button from '../../components/Button.astro'
import Input from '../../components/Input.astro'
import Link from '../../components/Link.astro'
import Base from '../../layouts/Base.astro'
import { _redirectWithHeaders } from '../../lib/utils'

const result = Astro.getActionResult(actions.auth.signUp)
if (result && !result.error) return _redirectWithHeaders(result.data.headers)
---

<Base>
	<main class='flex flex-grow flex-col items-center justify-center gap-8 px-4'>
		<h1 class='text-2xl font-bold'>Sign Up</h1>

		<form
			method='POST'
			action={actions.auth.signUp}
			class='flex flex-col gap-6'
		>
			<Input name='name' label='Name' autocomplete='name' autofocus required />
			<Input type='email' name='email' label='E-mail' required />
			<Input
				type='password'
				name='password'
				label='Password'
				minlength={8}
				maxlength={128}
				required
			/>

			{
				result?.error && (
					<p class='text-center text-red-500'>{result.error.message}</p>
				)
			}
			<div class='flex flex-col gap-2'>
				<Button type='submit'>Sign up</Button>
				<Link href='/auth/signIn'>Sign in</Link>
			</div>
		</form>
	</main>
</Base>
