---
export const prerender = false

import { getLiveCollection } from 'astro:content'
import { setCacheHeaders } from '@/lib/utils'
import FavoriteBook from '@/components/FavoriteBook.astro'
import Base from '@/layouts/Base.astro'

const { entries, error, cacheHint } = await getLiveCollection('books')

if (error) throw error
if (!entries) return Astro.redirect('/404')
setCacheHeaders(Astro, cacheHint)
---

<Base>
	<main
		class='flex flex-grow flex-col items-center justify-center gap-8 px-4 pt-4'
	>
		<h1 class='text-2xl font-bold'>Favorites</h1>

		<div
			class='grid grid-cols-2 items-start justify-center gap-2 md:grid-cols-[repeat(5,calc(var(--spacing)*40))]'
		>
			{
				entries.map((book, index) => (
					<FavoriteBook book={book} priority={index === 0} />
				))
			}
		</div>
	</main>
</Base>
