---
import { auth } from '@/lib/auth'
import Button from './Button.astro'
import Link from './Link.astro'

const session = await auth.api.getSession({ headers: Astro.request.headers })
const name = session?.user.name
---

{
	session ? (
		<div class='flex items-center gap-3'>
			<p class='max-md:hidden'>Hello, {name}</p>
			<form method='POST' action='/auth/signOut'>
				<Button type='submit'>Sign out</Button>
			</form>
		</div>
	) : (
		<div class='flex gap-3'>
			<Link href='/auth/signIn'>Sign in</Link>
			<Link href='/auth/signUp' variant='secondary'>
				Sign up
			</Link>
		</div>
	)
}
