---
export interface Props extends astroHTML.JSX.HTMLAttributes {
	title: string
	value: string | number
}

const {
	title,
	value,
	class: className,
	'class:list': classList,
	...rest
} = Astro.props
---

<div
	class:list={[
		'rounded-lg border border-slate-500 px-3 py-1.5',
		className,
		classList
	]}
	{...rest}
>
	<p class='text-sm text-slate-500'>{title}</p>
	<p>{value}</p>
</div>
