---
export interface Props extends astroHTML.JSX.HTMLAttributes {
	title: string
	value: string | number
}

// biome-ignore-start lint/correctness/noUnusedVariables: used in the template
const {
	title,
	value,
	class: className,
	'class:list': classList,
	...rest
} = Astro.props
// biome-ignore-end lint/correctness/noUnusedVariables: used in the template
---

<div class:list={[
	"py-1.5 px-3 border-slate-500 border rounded-xl",
	className,
	classList,
]} {...rest}>
	<p class="text-slate-500 text-sm">{title}</p>
	<p>{value}</p>
</div>
