---
export interface Props {
	title: string
	value: string | number
}

// biome-ignore lint/correctness/noUnusedVariables: used in the template
const {title, value} = Astro.props
---

<div class="py-1.5 px-3 border-slate-500 border rounded-xl">
	<p class="text-slate-500 text-sm">{title}</p>
	<p>{value}</p>
</div>
