---
import Button from '@/components/Button.astro'
import Link from '@/components/Link.astro'
import { auth } from '@/lib/auth'
import '@/styles/global.css'

const isAuthPage = Astro.url.pathname.startsWith('/auth')
const session = await auth.api.getSession({ headers: Astro.request.headers })
---

<!doctype html>
<html lang='en'>
	<head>
		<link
			rel='preload'
			href='/Inter.woff2'
			as='font'
			type='font/woff2'
			crossorigin
		/>

		<meta charset='UTF-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='generator' content={Astro.generator} />
		<meta
			name='description'
			content='LibSpace - An experimental social reading platform'
		/>
		<title>LibSpace</title>
		<style is:inline>
			@font-face {
				font-family: 'Inter fallback';
				size-adjust: 106.95000000000003%;
				ascent-override: 110%;
				font-display: swap;
				src: local('Arial');
			}
			@font-face {
				font-family: Inter;
				font-style: normal;
				font-weight: 100 900;
				font-display: swap;
				src: url('/Inter.woff2') format('woff2');
			}
		</style>
	</head>
	<body class='flex min-h-dvh flex-col'>
		<header
			class='flex h-16 w-full items-center justify-center border-b border-slate-300'
		>
			<nav class='flex w-full max-w-7xl items-center justify-between px-4'>
				<div class='flex items-center gap-8'>
					<a href='/' class='text-2xl font-bold'>LibSpace</a>
					{
						session && (
							<a href='/shelf' class='underline underline-offset-4'>
								My shelf
							</a>
						)
					}
				</div>
				{
					!isAuthPage &&
						(session ? (
							<div class='flex items-center gap-3'>
								<p class='max-md:hidden'>Hello, {session.user.name}</p>
								<form method='POST' action='/auth/signOut'>
									<Button type='submit'>Sign out</Button>
								</form>
							</div>
						) : (
							<div class='flex gap-3'>
								<Link href='/auth/signIn'>Sign in</Link>
								<Link href='/auth/signUp' variant='secondary'>
									Sign up
								</Link>
							</div>
						))
				}
			</nav>
		</header>
		<slot />
	</body>
</html>
